<app-navbar></app-navbar>

<div class="image-container">
  <div>
    <img src="assets/career.png" class="img-fluid less-bright" alt="Sample image">

    <div class="overlay-text">
      <p>
        <a  style="color: #aa1906; " >คุ</a>
        <a  style="color: #B41500; " >ณ</a>
        <a  style="color: #F01D00; " >วุ</a>
        <a  style="color: #FF3419; " >ฒิ</a>
        <a  style="color: #FF4F37; " >วิ</a>
        <a  style="color: #FF6955; " >ช</a>
        <a  style="color: #FF8473; " >า</a>
        <a  style="color: #FF9E91;" >ชี</a>
        <a  style="color: #FFB0A5;" >พ</a>
      </p>
    </div>
  </div>
</div>
<section>
  <div class="card-overlay">
    <div class="card">
      <div class="container">
        <div class="card">
          <div class="container">
            <div *ngIf="careerLevel">
              <h2>{{ careerLevel.name_career }} {{ careerLevel.name_level }}</h2>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="container">
            <div *ngIf="careerLevel">
              <h2>รายละเอียด</h2>
              <h3>คุณวุฒิวิชาชีพ</h3>
              <p>{{ careerLevel.name_career }} {{ careerLevel.name_level }}</p>
              <h3>คุณลักษณะของผลการเรียนรู้ (Characteristics of Outcomes)</h3>
              <p>{{ careerLevel.outcomes }}</p>
            </div>
            
            <h3>หน่วยสมรรถนะ (หน่วยสมรรถนะทั้งหมดของคุณวุฒิวิชาชีพนี้)</h3>
    


            <div *ngIf="careerLevel" class="certification-text">
              <div *ngFor="let i of careerLevel.unit_code; let index = index" class="row">
                <div class="col-12">
                  <div class="career-info" (click)="showCareerDetail(careerLevel.id_unit_code[index])">
                    <div style="display: flex; align-items: center;">
                      <p style="font-size: 16px; margin-right: 5px;">{{ chartUnitcodes[index]?.percentage ? chartUnitcodes[index]?.percentage.toFixed() + '%' : '0%' }}</p>
                      <p-progressBar [value]="chartUnitcodes[index]?.percentage || 0" [showValue]="false" [style]="{ 'height': '8px', 'width': '40px', 'margin-right': '5px' }"></p-progressBar>
                      <p class="font-size-16 dynamic-color">{{ careerLevel.unit_code[index] }} - {{ careerLevel.name[index] }}</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            
            
          

          </div>
        </div>
      </div>
    </div>
  </div>

</section>


<div class="custom-container">
  <div class="custom-text">
    © 2023 Department of Electrical and Computer Engineering Faculty of Engineering Naresuan University
  </div>
  <div class="custom-text">
    reference <a href="https://tpqi-net.tpqi.go.th/home/occ/industrialInfo/ICT" target="_blank" style="font-size: 14px; color:rgb(255, 255, 255);">สถาบันคุณวุฒิวิชาชีพ (องค์การมหาชน)</a>
  </div>
</div>



