

@import url('https://fonts.googleapis.com/css2?family=Prompt&family=Roboto&display=swap');

.circle-container {
  display: flex;
  align-items: center;
  margin-bottom: 10px; /* Adjust margin as needed */
}


.index-circle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px; /* Increase circle size */
  height: 40px; /* Increase circle size */
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.7);
  color: #9b9b9b;
  margin-right: 10px;
  border: 2px solid #9b9b9b;
  font-size: 16px; /* Increase font size */
  font-family: 'Prompt', sans-serif; /* Change font family */
}

@media (max-width: 412px) {
  .index-circle {
    width: 50px; /* ปรับขนาดวงกลมเมื่อหน้าจอมีขนาดเล็กลง */
    height: 20px; /* ปรับขนาดวงกลมเมื่อหน้าจอมีขนาดเล็กลง */
    font-size: 14px; /* ปรับขนาดตัวอักษรเมื่อหน้าจอมีขนาดเล็กลง */
  }
}


.career-info {
  display: flex;
  align-items: center;
}

.career-info p {
  margin: 0;
  font-size: 18px; /* Adjust font size for career information */
  font-family: 'Prompt', sans-serif; /* Change font family */
}

.less-bright {
  filter: brightness(0.7); /* Adjust the value as needed (0.7 means 70% brightness) */
}


/* src/app/some-folder/your-html-file.scss */

.image-container {
  position: relative;
  width: 100%;
}


.overlay-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  width: 90%;
}


.overlay-text p {
  font-size: 20px; /* ขนาดตั้งต้นของตัวอักษร */
  margin: 0;
  font-family: 'Prompt', sans-serif;
}

@media only screen and (max-width: 768px) {
  /* For smaller screens like phones */
  .overlay-text p {
    font-size: 20px; /* ลดขนาดตัวอักษรสำหรับหน้าจอเล็กลง */
  
  }
}





.custom-label {
  font-size: 18px;
  font-family: 'Prompt', sans-serif;
}

h1 {
  font-size: 24px;
  font-family: 'Prompt', sans-serif;
}

h2 {
  font-size: 18px;
  font-family: 'Prompt', sans-serif;
}

a {
  color: #ffffff;
}

option {
  font-size: 18px;
  font-family: 'Prompt', sans-serif;
}

.divider:after,
.divider:before {
content: "";
flex: 1;
height: 1px;
background: #eee;
}
.h-custom {
height: calc(100% - 73px);
}



@media (max-width: 450px) {
.h-custom {
height: 100%;
}

}


.purple-button {
  background-color: purple;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.custom-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  padding: 1rem; /* เพิ่มหรือลดตามความต้องการ */
  background-color: #B5251A;
  color: white;
}

.custom-text {
  margin-bottom: 0.5rem;
  font-family: 'Prompt', sans-serif;
}





.dynamic-color {
  transition: color 0.3s ease; /* เพิ่มการเปลี่ยนสีเมื่อ hover */
}

.dynamic-color:hover {
  color: #000000; /* เปลี่ยนเป็นสีดำเมื่อ hover */
  font-weight: bold; /* เพิ่มความหนา */
}